@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    background-color: #f0f3f2;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    gap: 20rem; 
}
hr {
    width: 100%;
    margin:1rem;
}

h1 {
    margin: 0; 
    text-align: center; 
    font-family: "Fascinate Inline", system-ui;

}

#cart-icon{
    cursor: pointer;
}

.cart-icon:hover{
    opacity: 0.8;
}
.filtro {
    background-color: #27374D;
    height: 4rem;
}
#container-Cards {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #f7fefc; 
}
.Clothes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 21rem;
    height: 12rem;
    padding: 0.5rem;
}

.Clothes img {
    width: 7rem;
    height: auto;
    object-fit: contain;
    gap: 1rem;
}

.container-description  {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.container-description h2 {
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
}

.container-description h3 {
    padding: 0.1rem;
}

.container-description > button {
    background-color: #07121d; 
    color: #1c1818; 
    border: none; 
    border-radius: 4px; 
    padding: 0.5rem 1rem; 
    pointer-events: fill;
    align-items: center;
}

.container-description button:hover {
    background-color: #e6e9ec; 
}

.modal-container.show {
    transform: translateX(0); 
}
.modal-container {
    display: block;
    width: 40%;
    height: 100vh; 
    color: #131212;
    background-color: #6b757d;
    right: 0; 
    position: fixed;
    overflow-y: auto;
    z-index: 9;
    top: 0; 
    transform: translateX(100%); 
    transition: transform 0.3s ease; 
}

.modal-container.show {
    transform: translateX(0);
}

.modal-container ::-webkit-scrollbar{
    display: none;
}

.modal-header-title {
    justify-self: start;
    color: #07121d;
}

.modal-header-button {
    cursor: pointer;
    color: #1c1818;
    border-radius: 1rem;
    width: 2.5rem;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height:100px;
    width: 100px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 15rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
}

.modal-card img {
    width: 70%;
    height: auto;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.finishButton {
    height: 2rem;
    width: 9rem;
    border-radius: 0.5rem;
    background-color: #07121d;
    color: #e6ebf1;
    margin-top: 20px;
    cursor: pointer;
}

.finishButton:hover {
    background-color: #e6ebf1;
    color: #07121d; 
}

.modal-container > .finishButton {
    display: flex;
    justify-content: center;
    align-items: center;
}